header {
  nav {
    ul {
      li {
        p {
          background-color: aqua;
        }
        a {
          background-color: orange;
        }
        h1 {
          background-color: yellowgreen;
        }
        h3 {
          background-color: beige;
        }
      }
    }
  }
}
