$primaryColor: rgb(54, 212, 138);
$secondColor: rgb(231, 255, 233);

@font-face {
  font-family: jf-openhuninn;
  src: url("./../assets/jf-openhuninn-2.1.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: jf-openhuninn;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  nav {
    background-color: white;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 1rem;
        a {
          color: black;
          text-decoration: none;
          transition: all 0.25s ease;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div.info {
        flex-basis: 500px;
        // border: 2px, solid, black;
        padding: 1rem;
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          margin-top: 1.25rem;
          font-size: 1rem;
        }
        a {
          color: white;
          background-color: $primaryColor;
          padding: 0.75rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          margin-right: 0.25rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      div.img-area {
        flex-basis: 450px;
        // border: 2px, solid, red;
        img {
          width: 50%;
        }
      }
    }

    section.about-me {
      background-color: $secondColor;
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;

      section.title {
        h2 {
          font-size: 2rem;
        }
      }

      section.description {
        width: 20%;
        text-align: center;

        .progress-bar-area {
          p {
            margin-top: 1rem;
          }
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      section.table {
        flex: 5 1 500px;
        // border: 2px solid red;
        padding: 2rem;
        table {
          border-collapse: collapse;
          tr {
            border-bottom: 2px solid gray;
            transition: all 0.2s ease;
            &:hover {
              background-color: rgb(184, 255, 222);
            }
            td {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
